<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Начало</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/blog">Статии</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/videos.html">Видеоклипове</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/za-men.html">За мен</a>
</li>
<li class="nav-item">
<a target="_blank" class="nav-link" href="https://paypal.me/DanielBogdanski?locale.x=en_US">Купи ми кафе <i class="fa fa-coffee text-danger"></i></a>
</li>
